@model MenuViewModel

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <h5>Plates</h5>
        @if (User.IsInRole("Restaurant"))
        {
            <a type="button" value="Create" asp-controller="Plate" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        }
        <ul>
            @foreach (var p in Model.Plates)
            {
            <li>
                <div>Name: @p.Name</div>
                <div>Type: @p.Type</div>
                <div>Description: @p.Description</div>
                <div>Price: @p.Price</div>
                @if (User.IsInRole("Restaurant"))
                {
                    <a type="button" value="Edit" asp-controller="Plate" asp-action="Edit" asp-route-id="@p.Id" class="btn btn-success"><i class="fa fa-edit"></i></a>
                    <a type="button" value="Edit" asp-controller="Plate" asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                }
            </li>
                <br />
            }
        </ul>
    </div>
</div>
